
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<ul class="mega-menu-links">
    <li><a asp-controller="Menu" asp-action="getProductsByCateNavbar">Đồ ăn</a></li>
    <li><a href="productgird.html">Nước giải khát</a></li>
    <li><a href="productgird.html">Đồ ăn vặt</a></li>
</ul>