@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="footer">
    <div class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo"><a href="#"><img src="~/user/images/logo.png" alt=""></a></div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="title">Contact <strong>Info</strong></h4>
                    <p>280 An Dương Vương, HCM</p>
                    <p>Call Us : (084) 1900 1008</p>
                    <p>Email : michael@leebros.us</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h4 class="title">Customer<strong> Support</strong></h4>
                    <ul class="support">
                        <li><a href="/Menu">Thực đơn</a></li>
                        <li><a href="/Cart">Giỏ hàng</a></li>
                        <li><a href="/Login/SignUp">Đăng ký</a></li>
                        <li><a href="/Login">Đăng nhập</a></li>
                        <li><a id="soluongonline">Đang truy cập: 9</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright © 2012. Designed by <a href="#">Michael Lee</a>. All rights reseved</p>
                </div>
                <div class="col-md-6">
                    <ul class="social-icon">
                        <li><a href="#" class="linkedin"></a></li>
                        <li><a href="#" class="google-plus"></a></li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="facebook"></a></li>                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>