@model BanHangNetCoreNhom123.Models.Banner

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="user" asp-action="Create" asp-controller="BannerAdmin" method="post" enctype="multipart/form-data" id="signUpForm">

                <div class="form-group">
                    <label>Tiêu đề</label>
                    <input type="text" class="form-control form-control-user" id="tieude" name="tieude">
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <input type="text" class="form-control form-control-user" id="noidung" name="noidung">
                </div>
                <div class="form-group">
                    <label>Ảnh</label>
                    <input class="form-control-file" type="file" name="avatar" onchange="previewImg(this,'preview_img')">
                    <img id="preview_img" src="/images/product/no-preview.jpg" width="100" height="100">
                </div>
                <script>
                    function previewImg(input, id_string) {
                        var exp_string = "#";
                        exp_string += id_string;
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $(exp_string).attr('src', e.target.result);
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
                <a>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                        Lưu
                    </button>
                </a>
            </form>
                <br />
                <div>
                    <a asp-controller="BannerAdmin" asp-action="Index"><button class="btn btn-danger col-12" data-dismiss="modal">Trở về</button></a>
                </div>
        </div>

    </div>
</div>

@*<h1>Create</h1>

<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UrlBanner" class="control-label"></label>
                <input asp-for="UrlBanner" class="form-control" />
                <span asp-validation-for="UrlBanner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TieuDe" class="control-label"></label>
                <input asp-for="TieuDe" class="form-control" />
                <span asp-validation-for="TieuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

