
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div>
        <table class="table">
            <tr>
                <td>
                    Tên loại sản phẩm
                </td>
                <td>
                    @ViewBag.Loai.TenLoai
                </td>
            </tr>
        </table>
    </div>