@model BanHangNetCoreNhom123.Models.KhachHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}

<h1>Xóa không thành công!</h1>
<h4>Vẫn còn hóa đơn của khách hàng. Xóa hóa đơn trước</h4>
