@model BanHangNetCoreNhom123.Models.ThucDon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}

<h1>Xóa sản phẩm không thành công</h1>
<h4>Sản phẩm này có khách hàng đang mua</h4>
