@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div>
    <table class="table">
        <tr>
            <td>
                Tên nhà sản xuất
            </td>
            <td>
                @ViewBag.NhaSanXuat.TenNSX
            </td>
        </tr>
    </table>
</div>
