@model BanHangNetCoreNhom123.Models.NhaSanXuat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Layout/Admin/Layout.cshtml";
}

<h1>
    Xóa không thành công!
</h1>
<h4>Còn sản phẩm thuộc nhà sản xuất này</h4>